body {
  position:relative;
}

#startPrompt {
  width:520px;
}

#pause {
  width:200px;
  display:none;
}

#startPrompt, #pause {
  height: 100px;
  margin: auto;  
  position: absolute;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 2px solid #fff;
}

#startPrompt p, #pause p {
   text-align: center;
   margin: 0;
   color: #fff;
   padding: 18px;
   font-size: 50px;
   font-family: 'Rajdhani';
   font-weight: 100;
   font-style: normal;
}